
<div class ="bg-warning bg-opacity-25 border-start border-5">
<%= @answer %>
<p><em> -You </em></p>
</div>

<br>

<div class ="bg-warning bg-opacity-25 border-start border-5">
<%= @coach_answer %>
<p><em> -Your coach </em></p>
</div>

<br>
<%= link_to "Ask a new question" , "/ask" %>
